<div class="header">
    <div class="logo"><svg 
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="31px" height="25px">
       <image  x="0px" y="0px" width="31px" height="25px"  xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAZCAQAAABj/j2vAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfmCgsSNQQrhrwuAAABnUlEQVQ4y52Rr0tDcRTFz54ig33AuaBgEMEoJovBoFEMNkEw2Swy8B8QzCbNq7YFy6ogCoIWTZo0iiCIvrA5OYZN9917b2PzftO955z743xz3GlB/437SOP/FkvjkfYkNbWkidSrSvqQVM3AltSUtCeJKuacXHdj1jANNmhg1hJYjnNMtZVM847Z6SIUeMIcShxinih0oTuYd6Z/013MG1MB4QjzQF4izwPmKMCmeMPsdgoRV5jTv3yRJmalna1gmiz+oaeYK6JwnfnOjYxyi6kEaAVzy2jgyXziDzo3so95oRRgJV4w+6EnSXn7RmaJMVsJdAsTM9vxJN2gdeMlppaB1jCXoSdpSgW3pmRgra26PElSStQx1z3Qa0w99CRNOcaY5QxkGWOO1T94xbwOXh9oSu+t0g3OMN/MBZU5vjFnA4gl8sSYx6DyiIkzfzuzwTbGlNtZGWO2BxRLEjeYOkWJInXMzRBiiUm+MBcSF5gvJrN5I9nlRjwmrWpmrKhNSQefNQ0bPGOMee7Nifro12VJ1vrQk9vzTzAn/Rg/ZjKoggbO9ckAAAAASUVORK5CYII=" />
       </svg></div>
    <ol class="header__list">
        <li><a href="" class="header__link">Главная</a></li>
        <li><a href="" class="header__link">О нас</a></li>
        <li><a href="" class="header__link">Контакты</a></li>
        <li><a href="" class="header__link">Главная</a></li>
        <li><a href="" class="header__link">Главная</a></li>
    </ol>
</div>